## Preprocessing

In [18]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [21]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [23]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [26]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# Assigning cutoff value
cutoff_value = 100

# Get the value counts of each application type
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Create a list of application types to be replaced with "Other"
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [27]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

In [28]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [29]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Assigning cutoff value
cutoff_value = 100

# Get the value counts of each classification
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Create a list of classifications to be replaced with "Other"
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [30]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [31]:
# Split our preprocessed data into our features and target arrays
target_column = 'IS_SUCCESSFUL'
y = dummies_df[target_column].values
X = dummies_df.drop(columns=target_column).values

# Split the preprocessed data into a training and testing dataset
random_seed = 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=random_seed, stratify=y)

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [33]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# Number of inputs
input_dim = len(X_train[0])

# First hidden layer with 80 Units and ReLU activation
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=input_dim))

# Second hidden layer with 30 Units and ReLU
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer with 1 Unit and sigmoid activation
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                4080

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 6541 (25.55 KB)
Trainable params: 6541 (25.55 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [34]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [35]:
# Train the model
nn.fit(X_train, y_train, epochs=100, batch_size=64, verbose=1)

Epoch 1/100
402/402 [==============================] - 1s 873us/step - loss: 27873.7695 - accuracy: 0.4842
Epoch 2/100
402/402 [==============================] - 0s 844us/step - loss: 37166.9961 - accuracy: 0.4988
Epoch 3/100
402/402 [==============================] - 0s 843us/step - loss: 27165.7910 - accuracy: 0.4990
Epoch 4/100
402/402 [==============================] - 0s 841us/step - loss: 4418.8877 - accuracy: 0.5065
Epoch 5/100
402/402 [==============================] - 0s 836us/step - loss: 16551.4277 - accuracy: 0.4934
Epoch 6/100
402/402 [==============================] - 0s 838us/step - loss: 4427.6221 - accuracy: 0.5155
Epoch 7/100
402/402 [==============================] - 0s 838us/step - loss: 35135.6641 - accuracy: 0.5110
Epoch 8/100
402/402 [==============================] - 0s 875us/step - loss: 6805.2124 - accuracy: 0.5093
Epoch 9/100
402/402 [==============================] - 0s 875us/step - loss: 18691.0586 - accuracy: 0.4852
Epoch 10/100
402/402 [==============================] - 0s 948us/step - loss: 19467.3125 - accuracy: 0.5188
Epoch 11/100
402/402 [==============================] - 0s 878us/step - loss: 19661.4062 - accuracy: 0.5209
Epoch 12/100
402/402 [==============================] - 0s 846us/step - loss: 16411.6855 - accuracy: 0.5213
Epoch 13/100
402/402 [==============================] - 0s 843us/step - loss: 18068.1133 - accuracy: 0.5053
Epoch 14/100
402/402 [==============================] - 0s 848us/step - loss: 6884.1880 - accuracy: 0.5310
Epoch 15/100
402/402 [==============================] - 0s 836us/step - loss: 20802.4648 - accuracy: 0.5133
Epoch 16/100
402/402 [==============================] - 0s 836us/step - loss: 1231.2466 - accuracy: 0.5328
Epoch 17/100
402/402 [==============================] - 0s 846us/step - loss: 2586.7681 - accuracy: 0.5505
Epoch 18/100
402/402 [==============================] - 0s 834us/step - loss: 6486.9453 - accuracy: 0.5402
Epoch 19/100
402/402 [==============================] - 0s 833us/step - loss: 11774.3584 - accuracy: 0.5253
Epoch 20/100
402/402 [==============================] - 0s 837us/step - loss: 1362.9587 - accuracy: 0.5451
Epoch 21/100
402/402 [==============================] - 0s 833us/step - loss: 6646.6880 - accuracy: 0.4997
Epoch 22/100
402/402 [==============================] - 0s 833us/step - loss: 5777.0410 - accuracy: 0.5107
Epoch 23/100
402/402 [==============================] - 0s 836us/step - loss: 2788.0923 - accuracy: 0.4876
Epoch 24/100
402/402 [==============================] - 0s 843us/step - loss: 2529.3921 - accuracy: 0.5028
Epoch 25/100
402/402 [==============================] - 0s 833us/step - loss: 8079.8110 - accuracy: 0.4964
Epoch 26/100
402/402 [==============================] - 0s 841us/step - loss: 3983.4126 - accuracy: 0.5125
Epoch 27/100
402/402 [==============================] - 0s 831us/step - loss: 2378.5713 - accuracy: 0.5123
Epoch 28/100
402/402 [==============================] - 0s 831us/step - loss: 6061.3804 - accuracy: 0.5038
Epoch 29/100
402/402 [==============================] - 0s 836us/step - loss: 959.6026 - accuracy: 0.5268
Epoch 30/100
402/402 [==============================] - 0s 836us/step - loss: 1703.5374 - accuracy: 0.5163
Epoch 31/100
402/402 [==============================] - 0s 846us/step - loss: 2348.6780 - accuracy: 0.5341
Epoch 32/100
402/402 [==============================] - 0s 841us/step - loss: 644.0023 - accuracy: 0.5108
Epoch 33/100
402/402 [==============================] - 0s 838us/step - loss: 288.0310 - accuracy: 0.5207
Epoch 34/100
402/402 [==============================] - 0s 833us/step - loss: 259.8552 - accuracy: 0.5208
Epoch 35/100
402/402 [==============================] - 0s 843us/step - loss: 27.7642 - accuracy: 0.5296
Epoch 36/100
402/402 [==============================] - 0s 838us/step - loss: 19.1098 - accuracy: 0.5331
Epoch 37/100
402/402 [==============================] - 0s 836us/step - loss: 0.6508 - accuracy: 0.5674
Epoch 38/100
402/402 [==============================] - 0s 853us/step - loss: 0.6387 - accuracy: 0.6395
Epoch 39/100
402/402 [==============================] - 0s 833us/step - loss: 0.6338 - accuracy: 0.6473
Epoch 40/100
402/402 [==============================] - 0s 841us/step - loss: 0.6295 - accuracy: 0.6583
Epoch 41/100
402/402 [==============================] - 0s 841us/step - loss: 0.6281 - accuracy: 0.6654
Epoch 42/100
402/402 [==============================] - 0s 856us/step - loss: 0.6270 - accuracy: 0.6653
Epoch 43/100
402/402 [==============================] - 0s 848us/step - loss: 0.6261 - accuracy: 0.6660
Epoch 44/100
402/402 [==============================] - 0s 856us/step - loss: 0.6251 - accuracy: 0.6663
Epoch 45/100
402/402 [==============================] - 0s 836us/step - loss: 0.6247 - accuracy: 0.6663
Epoch 46/100
402/402 [==============================] - 0s 846us/step - loss: 0.6239 - accuracy: 0.6665
Epoch 47/100
402/402 [==============================] - 0s 838us/step - loss: 0.6234 - accuracy: 0.6669
Epoch 48/100
402/402 [==============================] - 0s 833us/step - loss: 0.6233 - accuracy: 0.6668
Epoch 49/100
402/402 [==============================] - 0s 831us/step - loss: 0.6226 - accuracy: 0.6672
Epoch 50/100
402/402 [==============================] - 0s 841us/step - loss: 0.6224 - accuracy: 0.6674
Epoch 51/100
402/402 [==============================] - 0s 858us/step - loss: 0.6223 - accuracy: 0.6667
Epoch 52/100
402/402 [==============================] - 0s 838us/step - loss: 0.6222 - accuracy: 0.6673
Epoch 53/100
402/402 [==============================] - 0s 838us/step - loss: 0.6225 - accuracy: 0.6666
Epoch 54/100
402/402 [==============================] - 0s 838us/step - loss: 0.6224 - accuracy: 0.6668
Epoch 55/100
402/402 [==============================] - 0s 838us/step - loss: 0.6223 - accuracy: 0.6670
Epoch 56/100
402/402 [==============================] - 0s 836us/step - loss: 0.6228 - accuracy: 0.6656
Epoch 57/100
402/402 [==============================] - 0s 831us/step - loss: 0.6232 - accuracy: 0.6655
Epoch 58/100
402/402 [==============================] - 0s 846us/step - loss: 0.6227 - accuracy: 0.6653
Epoch 59/100
402/402 [==============================] - 0s 836us/step - loss: 0.6250 - accuracy: 0.6640
Epoch 60/100
402/402 [==============================] - 0s 831us/step - loss: 0.6242 - accuracy: 0.6653
Epoch 61/100
402/402 [==============================] - 0s 841us/step - loss: 0.6249 - accuracy: 0.6635
Epoch 62/100
402/402 [==============================] - 0s 836us/step - loss: 0.6258 - accuracy: 0.6625
Epoch 63/100
402/402 [==============================] - 0s 833us/step - loss: 0.6266 - accuracy: 0.6617
Epoch 64/100
402/402 [==============================] - 0s 836us/step - loss: 0.6272 - accuracy: 0.6598
Epoch 65/100
402/402 [==============================] - 0s 848us/step - loss: 0.6249 - accuracy: 0.6637
Epoch 66/100
402/402 [==============================] - 0s 833us/step - loss: 0.6264 - accuracy: 0.6608
Epoch 67/100
402/402 [==============================] - 0s 838us/step - loss: 0.6268 - accuracy: 0.6621
Epoch 68/100
402/402 [==============================] - 0s 848us/step - loss: 0.6260 - accuracy: 0.6628
Epoch 69/100
402/402 [==============================] - 0s 836us/step - loss: 0.6271 - accuracy: 0.6615
Epoch 70/100
402/402 [==============================] - 0s 841us/step - loss: 0.6377 - accuracy: 0.6367
Epoch 71/100
402/402 [==============================] - 0s 838us/step - loss: 0.7412 - accuracy: 0.5445
Epoch 72/100
402/402 [==============================] - 0s 841us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 73/100
402/402 [==============================] - 0s 838us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 74/100
402/402 [==============================] - 0s 838us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 75/100
402/402 [==============================] - 0s 833us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 76/100
402/402 [==============================] - 0s 838us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 77/100
402/402 [==============================] - 0s 846us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 78/100
402/402 [==============================] - 0s 918us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 79/100
402/402 [==============================] - 0s 900us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 80/100
402/402 [==============================] - 0s 870us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 81/100
402/402 [==============================] - 0s 861us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 82/100
402/402 [==============================] - 0s 883us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 83/100
402/402 [==============================] - 0s 861us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 84/100
402/402 [==============================] - 0s 851us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 85/100
402/402 [==============================] - 0s 846us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 86/100
402/402 [==============================] - 0s 846us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 87/100
402/402 [==============================] - 0s 870us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 88/100
402/402 [==============================] - 0s 861us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 89/100
402/402 [==============================] - 0s 838us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 90/100
402/402 [==============================] - 0s 848us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 91/100
402/402 [==============================] - 0s 873us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 92/100
402/402 [==============================] - 0s 828us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 93/100
402/402 [==============================] - 0s 843us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 94/100
402/402 [==============================] - 0s 841us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 95/100
402/402 [==============================] - 0s 832us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 96/100
402/402 [==============================] - 0s 880us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 97/100
402/402 [==============================] - 0s 863us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 98/100
402/402 [==============================] - 0s 863us/step - loss: 0.6913 - accuracy: 0.5324
Epoch 99/100
402/402 [==============================] - 0s 851us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 100/100
402/402 [==============================] - 0s 843us/step - loss: 0.6910 - accuracy: 0.5324

In [36]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 2.2390 - accuracy: 0.5307 - 260ms/epoch - 970us/step
Loss: 2.239044189453125, Accuracy: 0.5307288765907288

In [37]:
# Export our model to HDF5 file
nn.save('HDF5 files/AlphabetSoupCharity.h5')

c:\Users\darks\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(